In [1]:
#RMSE will be the evaulation metric

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from math import sqrt
import warnings
from sklearn.model_selection import cross_val_score
from sklearn.externals import joblib
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

### importing the data

In [50]:
df= pd.read_csv('train.csv')

In [51]:
df.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651

In [52]:
df=pd.DataFrame(df)

In [53]:
#Cleaning the data set, dropping irrelevant columns for Training Data

In [54]:
train=df.drop(columns=['belongs_to_collection', 'genres', 'poster_path', 'homepage', 'imdb_id', 'original_title', 'overview', 'status', 'Keywords', 'tagline', 'cast', 'crew', 'production_companies', 'production_countries', 'spoken_languages'])

In [60]:
train.head(1)

,id,budget,original_language,popularity,release_date,runtime,title,revenue
0,1,14000000,en,6.575393,2/20/15,93.0,Hot Tub Time Machine 2,12314651

In [56]:
#Test data set
test = pd.read_csv('test.csv')

In [57]:
test= pd.DataFrame(test)

In [58]:
test=test.drop(columns=['belongs_to_collection', 'genres', 'poster_path', 'homepage', 'imdb_id', 'original_title', 'overview', 'status', 'Keywords', 'tagline', 'cast', 'crew', 'production_companies', 'production_countries', 'spoken_languages'])

In [59]:
test.head()

,id,budget,original_language,popularity,release_date,runtime,title
0,3001,0,ja,3.851534,7/14/07,90.0,PokÃ©mon: The Rise of Darkrai
1,3002,88000,en,3.559789,5/19/58,65.0,Attack of the 50 Foot Woman
2,3003,0,en,8.085194,5/23/97,100.0,Addicted to Love
3,3004,6800000,fr,8.596012,9/4/10,130.0,Incendies
4,3005,2000000,en,3.217680,2/11/05,92.0,Inside Deep Throat